In [15]:
import daff
import pandas as pd

In [16]:
!daff

'daff' is not recognized as an internal or external command,
operable program or batch file.

In [17]:
df = pd.read_csv('MOCK_DATA.csv', index_col=0)

In [18]:
df.head()

   first_name last_name                       email  gender      ip_address
id
1      Teresa    Willis  twillis0@cocolog-nifty.com  Female  101.136.38.219
2      Robert  Sullivan      rsullivan1@behance.net    Male   108.116.43.27
3   Catherine    Burton     cburton2@wikispaces.com  Female    80.205.184.0
4       Wayne   Gilbert      wgilbert3@engadget.com    Male    78.214.26.80
5   Christine  Campbell  ccampbell4@telegraph.co.uk  Female  233.66.108.133

In [20]:
df['new_columns'] = 0

In [21]:
df.to_csv("MOCK2.csv")

In [66]:
table = daff.diff("MOCK_DATA.csv", "MOCK2.csv")

In [69]:
table

In [31]:
daff.diff(local="MOCK_DATA.csv" remote="MOCK2.csv")

SyntaxError: invalid syntax (<ipython-input-31-fdad311ca526>, line 1)